{% extends "basedata.html" %}

{% block title %}Основные данные{% endblock %}

{% block content1 %}
    <div class = "col-6 offset-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Атрибут</th>
            <th scope="col">Значение</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Имя</th>
            <td>Mark</td>
          </tr>
          <tr>
            <th scope="row">Фамилия</th>
            <td>Jacob</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}

