{% extends "base.html" %}


{% block menu %}

    {% if user.username %}
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">{{user.username}}</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="#">Профиль</a>
          <a class="py-2 text-dark text-decoration-none" href="/logout">Выйти</a>
    {% endif %}
{% endblock %}

{% block select %}
      <form class="row g-3 align-items-center offset-2">
          <div class="col-auto">
            <label class="col-form-label">Контрагент</label>
<!--            <span class="input-group-text" id="inputGroup-sizing-sm"></span>-->
          </div>
          <div class="col-4">
            <select name="customer" class="form-select" aria-label="Default select example">
                <option value="">Выберите контрагента</option>
                    {% for customer in customers_list %}
                    {% if customer.id == customer_selected.id %}
                        <option value = {{ customer.id }} selected>{{ customer.customer_name }}</option>
                    {% else %}
                        <option value = {{ customer.id }}>{{ customer.customer_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
          </div>
          <div class="col-auto">
            <input class="input-group-text" type="submit" value="Вывести">
          </div>
      </form>
{% endblock %}

{% block content %}
        <div class = "col-10 offset-2">
            <ul class="nav justify-content-left">
              <li class="nav-item">
                {% if customer_selected %}
                    <a class="nav-link active" aria-current="page" href="/?customer={{ customer_selected.id }}">Основные данные</a>
                {% else %}
                     <a class="nav-link active" aria-current="page" href="/">Основные данные</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if customer_selected %}
                    <a class="nav-link" href="/doc?customer={{ customer_selected.id }}">Документы и справки</a>
                {% else %}
                    <a class="nav-link" href="/doc">Документы и справки</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if customer_selected %}
                    <a class="nav-link" href="/update?customer={{ customer_selected.id }}">Предоставить данные</a>
                {% else %}
                    <a class="nav-link" href="/update">Предоставить данные</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if customer_selected %}
                    <a class="nav-link" href="/history?customer={{ customer_selected.id }}">История</a>
                {% else %}
                    <a class="nav-link" href="/history">История</a>
                {% endif %}
              </li>
            </ul>
        </div>
{% endblock %}

