{% extends "base_registred.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}

 <div class = "col-12 fs-2">
    <form action="" method="post">
        {% csrf_token %}

        {% for f in form %}
            <div class="form-group row py-3">
                <label for="{{ f.id_for_label }}" class="col-md-3">{{ f.label }}</label>
                <div class="col-md-9">
                    {{ f }}
                </div>
            </div>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <br>
        <div class="row">
            <input type="submit" value="Сохранить" class="col-sm-4  btn fs-2 btn-primary">
            {% if customer_selected %}
                <a class="col-md-4 offset-2" href="/?customer={{ customer_selected.id }}">на главную</a>
            {% else %}
                 <a class="col-md-4 offset-2" href="/">на главную</a>
            {% endif %}
        </div>
    </form>
 </div>
{% endblock %}